{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Form Barang Habis Pakai
{% endblock page_title %}


{% block contents1 %}
<div class="col-lg-10 centered mb-4 col-centered">
  <div class="bg-white p-5 rounded shadow h-100">
    <h4 class="jd1 d-inline">FORM BARANG HABIS PAKAI</h4>
    <a href="#" data-activates="slide-out" id="toggler-btn" class="navbar-toggler button-collapse d-inline" type="button">
    <span id="clpse-icon" class="fas fa-chevron-right "></span>
    </a>
    <hr align="left" width="350" />
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    <form method='POST' novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col-sm">

          <div class="pb-3">
            <div class="md-form">
              {% if form.is_bound %}
                {% if form.id_barang.errors %}
                  {% render_field form.id_barang class="mdb-select is-invalid" searchable="Search here.."%}
                  <div class="invalid-feedback feedback-icon d-block"><i class="fa fa-times"></i></div>
                  {% for error in form.id_barang.errors %}
                    <div class="invalid-feedback d-block pt-2">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field form.id_barang class="mdb-select is-valid" searchable="Search here.."%}
                  <div class="valid-feedback feedback-icon d-block"><i class="fa fa-check"></i></div>
                  <div class="valid-feedback d-block pt-2">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.id_barang class="mdb-select" searchable="Search here.."%}
              {% endif %}
              <label for="{{form.id_barang.id_for_label}}">Id Barang :</label>
            </div>
          </div>
          
          <div class="pb-2">
            <div class="md-form">
              {% if form.is_bound %}
                {% if form.jumlah.errors %}
                  {% render_field form.jumlah class+="form-control is-invalid"%}
                  {% for error in form.jumlah.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field form.jumlah class+="form-control is-valid" %}
                  <div class="valid-feedback">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.jumlah class+="form-control" min=1%}
              {% endif %}
              <label for="{{form.jumlah.id_for_label}}">{{form.jumlah.label}} :</label>
            </div>
          </div>

          <div class="pb-2">
            <div class="md-form">
              {% if form.is_bound %}
                {% if form.pengguna.errors %}
                  {% render_field form.pengguna class="form-control is-invalid"%}
                  {% for error in form.pengguna.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field form.pengguna class="form-control is-valid" %}
                  <div class="valid-feedback">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.pengguna class+="form-control"%}
              {% endif %}
              <label  for="{{form.pengguna.id_for_label}}">{{form.pengguna.label}} :</label>
            </div>
          </div>

        </div>
        <div class="col-sm">

          <div class="pb-3">
            <div class="md-form input-group date" id="datetimepicker1" data-target-input="nearest">
              {% if form.is_bound %}
                {% if form.tgl_pengambilan.errors %}
                {% render_field form.tgl_pengambilan class="form-control datetimepicker-input is-invalid" data-target="#datetimepicker1"%}
                  <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker1" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                  <label for="{{form.tgl_pengambilan.id_for_label}}">{{form.tgl_pengambilan.label}} :</label>
                  {% for error in form.tgl_pengambilan.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% else %}
                {% render_field form.tgl_pengambilan class="form-control datetimepicker-input is-valid" data-target="#datetimepicker1"%}
                  <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker1" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                  <label for="{{form.tgl_pengambilan.id_for_label}}">{{form.tgl_pengambilan.label}} :</label>
                  <div class="valid-feedback">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.tgl_pengambilan class="form-control datetimepicker-input" data-target="#datetimepicker1"%}
                  <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker1" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                  <label for="{{form.tgl_pengambilan.id_for_label}}">{{form.tgl_pengambilan.label}} :</label>
              {% endif %}
            </div>
          </div>

          <div class="md-form pb-2">
            {% if form.is_bound %}
              {% if form.keterangan.errors %}
              {% render_field form.keterangan class+="form-control md-textarea" rows="3"%}
                {% for error in form.keterangan.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
              {% render_field form.keterangan class+="form-control md-textarea" rows="3"%}
              <div class="valid-feedback feedback-icon d-block pt-2"><i class="fa fa-check"></i></div>
                <div class="valid-feedback d-block">
                  Ok
                </div>
              {% endif %}
            {% else %}
              {% render_field form.keterangan class+="form-control md-textarea" rows="3"%}
            {% endif %}
            <label for="{{form.keterangan.id_for_label}}">{{form.keterangan.label}}(Optional):</label>
          </div>

        </div>
      </div>

      <hr align="left" width="auto" />
      <button type="submit" class="btn btn-mdb-color btn-rounded">Tambah</button>
      <a class="btn btn-elegant btn-rounded" href="{% url 'transaksi:transaksi_list' %}">Batalkan</a>
    </form>
  </div>
</div>


{% endblock contents1 %}