{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Form Pengembalian
{% endblock page_title %}


{% block contents1 %}
  <div class="col-lg-10 centered mb-4 col-centered">
    <div class="bg-white p-5 rounded shadow h-100">
      <h4 class="jd1">FORM PENGEMBALIAN</h4>
      <hr align="left" width="350" />
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <form method='POST' novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-7">

            <div class="pb-3">
              <div class="md-form">
                {% if form.is_bound %}
                  {% if form.transaksi.errors %}
                    {% render_field form.transaksi class="mdb-select is-invalid" searchable="Search here.."%}
                    <div class="invalid-feedback feedback-icon d-block"><i class="fa fa-times"></i></div>
                    {% for error in form.transaksi.errors %}
                      <div class="invalid-feedback d-block pt-2">{{ error }}</div>
                    {% endfor %}
                  {% else %}
                    {% render_field form.transaksi class="mdb-select is-valid" searchable="Search here.."%}
                    <div class="valid-feedback feedback-icon d-block"><i class="fa fa-check"></i></div>
                    <div class="valid-feedback d-block pt-2">Ok</div>
                  {% endif %}
                {% else %}
                  {% render_field form.transaksi class="mdb-select" searchable="Search here.."%}
                {% endif %}
                <label for="{{form.transaksi.id_for_label}}">Transaksi :</label>
              </div>
            </div>
          
          </div>
          <div class="col-sm-5">

            <div class="">
                <div class="md-form input-group date" id="datetimepicker2" data-target-input="nearest">
                  {% if form.is_bound %}
                    {% if form.tgl_kembali.errors %}
                    {% render_field form.tgl_kembali class="form-control datetimepicker-input is-invalid" data-target="#datetimepicker2"%}
                      <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker2" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                      <label for="{{form.tgl_kembali.id_for_label}}">{{form.tgl_kembali.label}} (Optional) :</label>
                      {% for error in form.tgl_kembali.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                    {% else %}
                    {% render_field form.tgl_kembali class="form-control datetimepicker-input is-valid" data-target="#datetimepicker2"%}
                      <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker2" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                      <label for="{{form.tgl_kembali.id_for_label}}">{{form.tgl_kembali.label}} (Optional) :</label>
                      <div class="valid-feedback">Ok</div>
                    {% endif %}
                  {% else %}
                    {% render_field form.tgl_kembali class="form-control datetimepicker-input" data-target="#datetimepicker2"%}
                      <div class="input-group-text btn-rounded btn-sm btn-mdb-color" data-target="#datetimepicker2" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
                      <label for="{{form.tgl_kembali.id_for_label}}">{{form.tgl_kembali.label}} (Optional) :</label>
                  {% endif %}
                </div>
              </div>

            
        </div>
      </div>
      <hr align="left" width="auto" />
        <button type="submit" class="btn btn-mdb-color btn-rounded">Submit</button>
        <a class="btn btn-elegant btn-rounded" href="{% url 'transaksi:transaksi_list' %}">Batalkan</a>
      
      </form>
    </div>
  </div>


{% endblock contents1 %}