
.col-centered{
    float: none;
    margin: 0 auto;
}
.text1{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(209, 209, 209);
    
}
.txt1{
    font-weight: bold;
}
.fixed-top-2 {
    margin-top: 56px;
}
body {
    background: rgb(234, 236, 240) !important;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.txt_label{
    font-weight: bold;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
 }

  
@media(min-width: 990px) {
    .content {
      padding-left: 240px;
    }
  }
.bg-list{
    background-color: rgb(255, 255, 255) !important;
}
.bg-sidenav{
    background-color: rgb(151, 151, 151) !important;
}
.bg-dropdown{
    background-color: rgb(255, 255, 255) !important;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 40px;
    right: 10px;
    margin-top: 0;
}

.fa-angle-left-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.15s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.fa-angle-right-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.txt-nav{
    font-weight: normal;
    font-size: 15px;
}

.pb-xs{
    padding-bottom: 70px;
}

div.dataTables_scrollHeadInner table { margin-bottom: 0px !important; }

td.details-control {
    background: url(/static/img/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(/static/img/details_close.png) no-repeat center center;
}
