<footer class="bg-dark text-white p-5">
    <div class="row">
        <div class="col-md-3">
            <h5>LAYANAN PELANGGAN</h5>
            <ul>
                <li>Cara Mendaftar</li>
                <li>Cara Peminjaman</li>
                <li>Cara Pengembalian</li>
                <li>Pembayaran Denda</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>TENTANG KAMI</h5>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quis officia modi rerum odit accusantium in corrupti! Totam tenetur exercitationem, dicta repellendus quos illo cum et mollitia nobis sed inventore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, labore. Aspernatur aliquam voluptate velit culpa ut repellendus, explicabo facilis nemo enim expedita consequatur iure veritatis asperiores ipsa quos accusamus odio.    
            </p>
        </div>
        <div class="col-md-3">
            <h5>MITRA KERJASAMA</h5>
            <ul>
                <li>Gramedia</li>
                <li>Balai Pustaka</li>
                <li>Bumi Aksara</li>
                <li>Gema Insani</li>
                <li>Grasindo</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>HUBUNGI KAMI</h5>
            <ul>
                <li>+628-1567-8997</li>
                <li>webbookonline@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>
