{% load static %}

<div class="preloader ml-1 mr-1 pb-1">
  <div class="col bg-white pt-2 pb-2 shadow">
    <div class="row pr-3">
      <div class="col-sm-8">
        <a href="#" data-activates="slide-out" id="toggler-btn" class="navbar-toggler button-collapse" type="button">
          <span id="clpse-icon" class="fas fa-chevron-right "></span>
        </a>
        <h6 class="jd1 text-1 mt-2 d-inline">{{request.path}}</h6>
      </div>
      <div class="col-sm-4 text-right">
        <p class="card-text text-dark d-inline">{% if user.get_full_name %} {{user.get_full_name}} {% else %} {{user.get_username}} {% endif %}</p>
        <a class="btn ink-reaction btn-rounded btn-sm btn-mdb-color d-inline" href="{% url 'users:logout' %}">Logout</a> 
      </div>
    </div>
  </div>
</div>