{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top " id="logoNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inventory:manage' %}">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <p class="card-text">{{user.get_full_name}}<br><small>login at : {{user.last_login}}</small><br></p>
                </li>
                <li class="nav-item nav-btn-set">
                    <a href="" class="btn ink-reaction btn-floating-action btn-secondary"><i class="fa fa-cog"></i> </a>
                </li>
                <li class="nav-item nav-logout">
                    <div class="verticalLine">
                        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-menu navbar-expand-sm navbar-custom bg-custom fixed-top fixed-top-2 text-center ">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mx-auto ">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      {% if request.path == "/" %}
      <li class="nav-item dropdown active">
      {% else %}
      <li class="nav-item dropdown">
      {% endif %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inventory
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'inventory:add' %}">Add Data</a>
            <a class="dropdown-item" href="{% url 'inventory:manage' %}">Manage Data</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Akun</a>
      </li>
      </li>
    </ul>
  </div>
</nav>


