{% load static %}

<!-- Bootstrap -->
<!--
<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.js' %}" ></script>
-->
<script type="text/javascript" src="{% static 'vendor/bootstrapselect/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrapselect/js/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'vendor/popper/popper.js' %}" ></script>

<!-- Datatables -->
<script type="text/javascript" src="{% static 'vendor/tabletools/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.print.min.js' %}"></script>
<!-- Datatables config -->
<script type="text/javascript" src="{% static 'vendor/tabletools/js/datatablesconf/datatables.js' %}"></script>

<!-- Datetimepicker -->
<script type="text/javascript" src="{% static 'vendor/datetimepicker/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datetimepicker/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datetimepicker/custom.js' %}"></script>
<!-- Datetimepicker attribute class -->
<script type="text/javascript" src="{% static 'vendor/datetimepicker/attributeclass.js' %}"></script>

<!-- Bootstrapselect -->
<script type="text/javascript" src="{% static 'vendor/bootstrapselect/js/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrapselect/bootstrapselectconfig.js' %}"></script>

<!-- windowpopup -->
<script type="text/javascript" src="{% static 'js/windowpopup.js' %}"></script>