{% load static %}

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>

<!-- Datatables -->
<script type="text/javascript" src="{% static 'mdb/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/dataTables.responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Datatables config -->
<script type="text/javascript" src="{% static 'vendor/tabletools/js/datatablesconf/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tabletools/js/datatablesconf/datatables2.js' %}"></script>

<!-- Datetimepicker -->
<script type="text/javascript" src="{% static 'vendor/datetimepicker/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datetimepicker/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datetimepicker/custom.js' %}"></script>
<!-- Datetimepicker attribute class -->


<!-- windowpopup -->
<script type="text/javascript" src="{% static 'js/windowpopup.js' %}"></script>

<!-- mdb_select -->
<script type="text/javascript" >
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();

});
</script>

<script type="text/javascript" >
  var container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 2,
    wheelPropagation: true,
    minScrollbarLength: 20
    
});
$(document).ready(function() {
  let isOpen = false;
  let $windowWidth = $( window ).width();
  const $btnCollapse = $(".button-collapse");
  const $content = $('#content');

  $( window ).resize(function() {

    $windowWidth = $( window ).width();
    if($windowWidth > 990) {
      $content.css('padding-left', '240px');
      if(isOpen) {
        $btnCollapse.css('left', '0');
        isOpen = false;
      }
    } else if($windowWidth < 530 && isOpen) {
      $btnCollapse.css('left', '0');
      $content.css('padding-left', '0');
      $('#sidenav-overlay').css('display', 'block');
      $btnCollapse.trigger('click');
    } else {
      if(!isOpen) {
        $content.css('padding-left', '0');
      }
    }
  });

  // SideNav Button Initialization
  $btnCollapse.sideNav().sideNav({
  breakpoint: 990
});

  $btnCollapse.on('click', () => {
   isOpen = !isOpen;
   if($windowWidth > 530) {
    const elPadding = isOpen ? '240px' : '0';
     $content.css('padding-left', elPadding);
    $('#sidenav-overlay').css('display', 'none');
   } else {
    $('#sidenav-overlay').on('click', () => {
      isOpen = !isOpen;
    });
   }
  });
  $('#sidenav-overlay').on('click', () => {
    isOpen = !isOpen;
  });
});
</script>
<script>
$(document).ready(function () {
    $('#toggler-btn').on('click', function(){  
      $('#clpse-icon').toggleClass( "fa-angle-left-animated" );
    });
});
</script>
