{% extends "base.html" %}
{% load static %}        

{% block page_title %}
	Detail {{satker.id_satker}} - {{satker.nama}}
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
    <div class="col-lg-8 centered mb-4 col-centered">
        <div class="bg-white p-4 shadow h-100">
            <h4 class="jd1 d-inline">DETAIL ( {{satker.id_satker}} )</h4>

            <hr align="left" width="350" />
            <table class="table table-sm table-bordered" style="width:100%">
                <tbody>
                    <tr>
                        <td>&emsp;Id</td>
                        <td>&emsp;{{satker.id_satker}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Nama</td>
                        <td>&emsp;{{satker.nama}}&emsp;</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-4">
                    <p><small class="txt_label">-- Update Terakhir --</small><br>
                    -----------------------------------------<br>
                    <small>User&emsp;: {{satker.user_updated}}<br>
                    Waktu : {{satker.updated}}</small><br>
                    -----------------------------------------</p>
                    <a class="btn btn-sm btn-secondary" href="{% url 'inventory:kategori_list' %}" role="button"><i class="fa fa-angle-left"></i> Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock contents1 %}