{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Tambah Barang
{% endblock page_title %}


{% block contents1 %}
  <div class="preloader ml-1 mr-1">
    <div class="col-lg-8 col-centered bg-white p-5 shadow h-100">
      <h4 class="jd1 d-inline">TAMBAH BARANG</h4>
      <hr align="left" width="auto" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <form method='POST' novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-8">

            <div class="md-form pb-2">
              {% if form.is_bound %}
                {% if form.id_barang.errors %}
                  {% render_field form.id_barang class="mdb-select is-invalid" searchable="Search here.."%}
                  <div class="invalid-feedback feedback-icon d-block"><i class="fa fa-times"></i></div>
                  {% for error in form.id_barang.errors %}
                    <div class="invalid-feedback d-block pt-2">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field form.id_barang class="mdb-select is-valid" searchable="Search here.."%}
                  <div class="valid-feedback feedback-icon d-block"><i class="fa fa-check"></i></div>
                  <div class="valid-feedback d-block pt-2">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.id_barang class="mdb-select" searchable="Search here.."%}
              {% endif %}
              <label for="{{form.id_barang.id_for_label}}">Id barang :</label>
            </div>

          </div>
          <div class="col-sm">
            
            <div class="md-form">
              {% if form.is_bound %}
                {% if form.jumlah.errors %}
                  {% render_field form.jumlah class+="form-control is-invalid"%}
                  {% for error in form.jumlah.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field form.jumlah class+="form-control is-valid" %}
                  <div class="valid-feedback">Ok</div>
                {% endif %}
              {% else %}
                {% render_field form.jumlah class+="form-control" min=1%}
              {% endif %}
              <label for="{{form.jumlah.id_for_label}}">{{form.jumlah.label}} :</label>
            </div>
            
          </div>
        </div>
        <hr align="left" width="auto" />
        <button type="submit" class="btn btn-mdb-color btn-rounded">Tambah</button>
        <a class="btn btn-elegant btn-rounded" href="{% url 'inventory:barang_list' %}">Batalkan</a>
        </form>
    </div>
  </div>


{% endblock contents1 %}