{% extends "base.html" %}
{% load static %}        
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% block page_title %}
	Detail {{barang.id_barang}} - {{barang.nama}}
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
    <div class="col-lg-8 centered mb-4 col-centered">
        <div class="bg-white p-4 rounded shadow h-100">
            <h4 class="jd1">DETAIL ( {{barang.id_barang}} )</h4>
            <hr align="left" width="350" />
            <table class="table table-bordered" style="width:100%">
                <tbody>
                    <tr>
                        <td>&emsp;Id</td>
                        <td>&emsp;{{barang.id_barang}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Nama</td>
                        <td>&emsp;{{barang.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Jenis</td>
                        <td>&emsp;{{barang.jenis}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Jumlah</td>
                        <td>&emsp;{{barang.jumlah}} {{barang.satuan}}&emsp;<br></td>
                    </tr>
                    {% if barang.jenis == "Inventaris" and barang.is_past_due is False %}
                    <tr>
                        <td>&emsp;Kondisi</td>
                        <td>
                        &emsp;Baik  : {{barang.jumlah_b}} &emsp;|
                        &emsp;Rusak Ringan : {{barang.jumlah_rr}} &emsp;|
                        &emsp;Rusak Berat : {{barang.jumlah_rb}} &emsp;|
                        &emsp;Hilang : {{barang.jumlah_hl}} &emsp;|
                        &emsp;<a class="btn btn-sm btn-success" href="{% url 'inventory:condition_update' barang.id_barang %}" role="button"><i class="fa fa-edit"></i> UPDATE</a>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>&emsp;Kategori</td>
                        <td>&emsp;{{barang.id_kategori.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Nilai Barang</td>
                        {% language 'id' %}
                        <td>&emsp;Rp.{{ barang.nilai_barang |floatformat:2 |intcomma }}&emsp;</td>
                        {% endlanguage %}
                    </tr>
                    <tr>
                        <td>&emsp;Tgl Pengadaan</td>
                        <td>&emsp;{{barang.tgl_pengadaan}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Satker</td>
                        <td>&emsp;{{barang.id_tempat.id_ruang.id_satker.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Ruang</td>
                        <td>&emsp;{{barang.id_tempat.id_ruang.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Tempat</td>
                        <td>&emsp;{{barang.id_tempat.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Keterangan</td>
                        <td>&emsp;{{barang.keterangan}}&emsp;</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-4">
                    <p><small class="txt_label">-- Update Terakhir --</small><br>
                    -----------------------------------------<br>
                    <small>User&emsp;: {{barang.user_updated}}<br>
                    Waktu : {{barang.updated}}</small><br>
                    -----------------------------------------</p>
                    <a class="btn btn-sm btn-secondary" href="{% url 'inventory:manage' %}" role="button"><i class="fa fa-angle-left"></i> Kembali</a>
                </div>
                {% if barang.jenis == "Inventaris" %}
                <div class="col-8">
                    <div class="row" >
                        <div class="col" align="right" >
                            <a class="btn btn-info" href="{% url 'inventory:barcode_print' barang.id_barang %}" role="button"><i class="fa fa-print"></i> Print Barcode</a>
                        </div>
                        <div class="col" align="right">
                            <img src="{% static barang.barcode %}" class="img-thumbnail" width="100%">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock contents1 %}