{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% block page_title %}
	Manage Inventory
{% endblock page_title %}


{% block contents1 %}

<div class="col-lg-12 rounded col-centered">
    <div class="bg-white p-4 rounded shadow h-100">
    
        <h4 class="jd1 d-inline">DAFTAR INVENTORY</h4>
        <a href="#" data-activates="slide-out" id="toggler-btn" class="navbar-toggler button-collapse d-inline" type="button">
        <span id="clpse-icon" class="fas fa-chevron-right "></span>
        </a>
    <hr align="left" width="350" />
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        <table id="datatables" class="table table-striped table-bordered" style="width:100%">
            <thead >
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Jenis</th>
                    <th>Jumlah</th>
                    <th>Nilai Barang</th>
                    <th>Tgl Pengadaan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for barang in barang_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ barang.id_barang }}</td>
                    <td>{{ barang.nama }}</td>
                    <td>{{ barang.jenis }}</td>
                    <td class="text-right">{{ barang.jumlah }}</td>
                    {% language 'id' %}
                    <td class="text-right">{{ barang.nilai_barang|intcomma }}</td>
                    {% endlanguage %}
                    <td>{{ barang.tgl_pengadaan|date:'d F Y' }}</td>
                    <td align="center">
                    {% if barang.in_transaction is True %}
                        <a class="btn-floating btn-sm btn-blue-grey" href="{% url 'inventory:barang_detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i></a>
                    {% elif barang.is_past_due %}
                        <a class="btn-floating btn-sm btn-blue-grey"  href="{% url 'inventory:barang_detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i></a>
                    {% else %}
                        <a class="btn-floating btn-sm btn-blue-grey" href="{% url 'inventory:barang_detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i></a>
                        <a class="btn-floating btn-sm btn-blue-grey" href="{% url 'inventory:barang_update' barang.id_barang %}" title="[Update] - {{barang.nama}}"><i class="fa fa-edit"></i></a>
                        <a class="btn-floating btn-sm btn-danger" href="{% url 'inventory:barang_delete' barang.id_barang %}" title="[Delete] - {{barang.nama}}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                       
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contents1 %}