{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Tambah Barang
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
  <div class="col-lg-8 centered mb-4 col-centered">
    <div class="bg-white p-5 rounded shadow h-100">
      <h4 class="jd1">TAMBAH BARANG</h4>
      <hr align="left" width="350" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <form method='POST'>
        {% csrf_token %}
        
        <label for="id_barang">Barang:</label>
        <div class="form-group border rounded">
        <select name="id_barang" class="form-control selectpicker" data-live-search="true" id="id_barang">
            {% for id, value in barang_list %}
                <option value="{{id}}">{{id}} - {{value}}</option>
            {% endfor %}
        </select>
        </div>

        <label for="jumlah">Jumlah:</label>
        <div class="form-group border rounded">
        <input type="number" name="jumlah" class="form-control" id="jumlah" min="1" required="True">
        </div>
        <label for="tgl"> Tgl Pengadaan:</label>
        <div class="form-group tgl-input">
            <div class="input-group date" id="datepicker4" data-target-input="nearest">
                <input id="tgl" type="text" name="tgl_pengadaan" class="form-control datetimepicker-input" data-target="#datepicker4" required=True placeholder="YYYY-MM-DD HH:mm:ss.SSS"/>
                <div class="input-group-append" data-target="#datepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
        <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER|escape}}">Batalkan</a>
        </form>
    </div>
  </div>

</div>

{% endblock contents1 %}