{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Tambah Barang
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
  <div class="col-lg-8 centered mb-4 col-centered">
    <div class="bg-white p-5 rounded shadow h-100">
      <h4 class="jd1">UPDATE DATA</h4>
      <hr align="left" width="350" />
      <form method='POST'>
        {% csrf_token %}
        
        <div class="form-group">
          <label for="{{form.nama.id_for_label}}">{{form.nama.label}} :</label>
         {{ form.nama| add_class:'form-control'}}   
        </div>
        <br>

        <div class="form-group">
          <label for="{{form.jenis.id_for_label}}">{{form.jenis.label}} :</label>
          <br>
          {% for radio in form.jenis %}
            <div class="form-check form-check-inline">
              <label class="radio-inline radio-styled">
                    {{ radio }}
                </label>
            </div>
          {% endfor %}
        </div>
        <br>

        <div class="form-group">
            <label for="{{form.jumlah.id_for_label}}">{{form.jumlah.label}} :</label>
            {{ form.jumlah| add_class:'form-control'}}
        </div>
        <br>

        <div class="form-group">
          <label for="{{form.satuan.id_for_label}}">{{form.satuan.label}} :</label>
          <br>
          {% for radio1 in form.satuan %}
            <div class="form-check form-check-inline">
              <label class="radio-inline radio-styled">
                    {{ radio1 }}
                </label>
            </div>
          {% endfor %}
          
        </div>
        <br>

        <div class="form-group" >
          <label for="{{form.nilai_barang.id_for_label}}">{{form.nilai_barang.label}} :</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Rp.</div>
            </div>
            {{ form.nilai_barang| add_class:'form-control'}} 
          </div>
        </div>
        <br>

        <div class="form-group">
            <label for="{{form.satker.id_for_label}}">{{form.satker.label}} :</label>
            {{ form.satker| add_class:'form-control'}} 
        </div>
        <br>

        <label for="{{form.tgl_pengadaan.id_for_label}}">{{form.tgl_pengadaan.label}} :</label>
        <div class="form-group">
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          {{ form.tgl_pengadaan | add_class:'form-control datepicker datetimepicker-input' }}
          <div class="input-group-append" data-target=".datepicker" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
        </div>
        <br>
        
        <div class="form-group">
          <label for="tempat">{{form.tempat.label}} :</label>
          {{ form.tempat | add_class:'form-control selectpicker' | attr:'data-live-search:true' | attr:'id:tempat'}}
        </div>

        <div class="form-group">
          <label for="{{form.keterangan.id_for_label}}">{{form.keterangan.label}} :</label>
          {{ form.keterangan| add_class:'form-control'}}
        </div>

        <button type="submit" class="btn btn-primary">Tambah</button>
        <a class="btn btn-secondary" href="{% url 'inventory:manage' %}">Batalkan</a>
        </form>
    </div>
  </div>

</div>

{% endblock contents1 %}