{% extends "base.html" %}
{% load static %}        
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% block page_title %}
	Detail {{barang.id_barang}} - {{barang.nama}}
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
    <div class="col-lg-10 centered mb-4 col-centered">
        <div class="bg-white p-4 rounded shadow h-100">
            <h4 class="jd1 d-inline">DETAIL ( {{barang.id_barang}} )</h4>
            <a href="#" data-activates="slide-out" id="toggler-btn" class="navbar-toggler button-collapse d-inline" type="button">
    <span id="clpse-icon" class="fas fa-chevron-right "></span>
    </a>
            <hr align="left" width="350" />
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <table class="table table-bordered" style="width:100%">
                <tbody>
                    <tr>
                        <td>&emsp;Id</td>
                        <td>&emsp;{{barang.id_barang}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Nama</td>
                        <td>&emsp;{{barang.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Jenis</td>
                        <td>&emsp;{{barang.jenis}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Jumlah</td>
                        <td>&emsp;{{barang.jumlah}} {{barang.satuan}}&emsp;<br></td>
                    </tr>
                    {% if barang.jenis == "Inventaris" or barang.jenis == "Modal"%}
                    <tr>
                        <td>&emsp;Kondisi</td>
                        <td>
                        &emsp;Baik  : {{barang.jumlah_b}} &emsp;|
                        &emsp;Rusak Ringan : {{barang.jumlah_rr}} &emsp;|
                        &emsp;Rusak Berat : {{barang.jumlah_rb}} &emsp;|
                        &emsp;Hilang : {{barang.jumlah_hl}} &emsp;|
                        &emsp;<a class="btn btn-sm btn-rounded btn-mdb-color" href="{% url 'inventory:barang_condition' barang.id_barang %}" role="button"><i class="fa fa-edit"></i> UPDATE</a>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>&emsp;Kategori</td>
                        <td>&emsp;{{barang.id_kategori.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Nilai Barang</td>
                        {% language 'id' %}
                        <td>&emsp;Rp.{{ barang.nilai_barang |floatformat:2 |intcomma }}&emsp;</td>
                        {% endlanguage %}
                    </tr>
                    <tr>
                        <td>&emsp;Tgl Pengadaan</td>
                        <td>&emsp;{{ barang.tgl_pengadaan|date:'d F Y' }} ( {{ barang.tgl_pengadaan|date:'H:i T' }} )&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Satker</td>
                        <td>&emsp;{{barang.id_tempat.id_ruang.id_satker.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Ruang</td>
                        <td>&emsp;{{barang.id_tempat.id_ruang.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Tempat</td>
                        <td>&emsp;{{barang.id_tempat.nama}}&emsp;</td>
                    </tr>
                    <tr>
                        <td>&emsp;Keterangan</td>
                        <td>&emsp;{{barang.keterangan}}&emsp;</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-4">
                    <table cellpadding="0">
                        <tr>
                            <td><h6><small class="text-muted">USER</small></h6></td>
                            <td><h6><small class="text-muted"> : {{barang.user_updated}}</small></h6></td>
                        </tr>
                        <tr>
                            <td><h6><small class="text-muted">UPDATED</small></h6></td>
                            <td><h6><small class="text-muted"> : {{barang.updated}}</small></h6></td>
                        </tr>
                    </table>
                    <a class="btn btn-sm btn-secondary btn-rounded" href="{% url 'inventory:barang_list' %}" role="button"><i class="fa fa-angle-left"></i> Kembali</a>
                </div>
                {% if barang.jenis == "Inventaris" or barang.jenis == "Modal"%}
                <div class="col-8">
                    <div class="row" >
                        <div class="col" align="right" >
                            <a class="btn btn-sm btn-dark btn-rounded" href="{% url 'inventory:barcode_print' barang.id_barang %}" role="button"><i class="fa fa-print"></i> Print Barcode</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock contents1 %}