{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% block page_title %}
	Manage Inventory
{% endblock page_title %}


{% block contents1 %}

<div class="col-lg-12 mb-4">
    <div class="bg-white p-4 rounded shadow h-100">
        <h4 class="jd1">MANAGE INVENTORY</h4>
        <hr align="left" width="350" />
        <h6 class="txt_label">Action :</h6>
        <a class="btn btn-info" href="{% url 'inventory:add' %}" role="button"><i class="fa fa-plus-circle"></i> Tambah</a>
        <a class="btn btn-info" href="{% url 'inventory:add_existing_good' %}" role="button"><i class="fa fa-plus-circle"></i> Tambah yang sudah ada</a>
        <hr align="left" width="480" />
        <table id="datatables" class="table table-striped table-bordered" style="width:100%">
            <thead >
                <tr>
                    <th>No</th>
                    <th>ID Barang</th>
                    <th>Nama</th>
                    <th>Jenis</th>
                    <th>Jumlah</th>
                    <th>Nilai Barang</th>
                    <th>Tgl Pengadaan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for barang in barang_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ barang.id_barang }}</td>
                    <td>{{ barang.nama }}</td>
                    <td>{{ barang.jenis }}</td>
                    <td class="text-right">{{ barang.jumlah }}</td>
                    {% language 'id' %}
                    <td class="text-right">{{ barang.nilai_barang|intcomma }}</td>
                    {% endlanguage %}
                    <td>{{ barang.tgl_pengadaan|date:"d M. Y" }}</td>
                    <td align="center">
                    {% if barang.in_transaction is True %}
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i> Detail</a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary disabled" title="[Update] - {{barang.nama}}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary disabled" title="[Delete] - {{barang.nama}}"><i class="fa fa-trash"></i></a>
                    {% elif barang.is_past_due %}
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i> Detail</a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary disabled" title="[Update] - {{barang.nama}}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary disabled" title="[Delete] - {{barang.nama}}"><i class="fa fa-trash"></i></a>
                    {% else %}
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:detail' barang.slug %}" title="[Detail] - {{barang.nama}}"><i class="fa fa-info-circle"></i> Detail</a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:update' barang.id_barang %}" title="[Update] - {{barang.nama}}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm ink-reaction btn-floating-action btn-danger" href="{% url 'inventory:delete' barang.id_barang %}" title="[Delete] - {{barang.nama}}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                       
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock contents1 %}