{% extends "base.html" %}
{% load static %}        

{% block page_title %}
	Detail {{ruang.id_ruang}} - {{ruang.nama}}
{% endblock page_title %}


{% block contents1 %}
<div class="col-lg-9 centered mb-4 col-centered">
    <div class="bg-white p-4  shadow h-100">
        <h4 class="jd1 d-inline">DETAIL ( {{ruang.id_ruang}} )</h4>
       
        <hr align="left" width="350" />
        <table class="table table-sm table-bordered" style="width:100%">
            <tbody>
                <tr>
                    <td>&emsp;Id</td>
                    <td>&emsp;{{ruang.id_ruang}}&emsp;</td>
                </tr>
                <tr>
                    <td>&emsp;Nama</td>
                    <td>&emsp;{{ruang.nama}}&emsp;</td>
                </tr>
                <tr>
                    <td>&emsp;Satker</td>
                    <td>&emsp;{{ruang.id_satker.nama}}&emsp;</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4">
            <table cellpadding="0">
                <tr>
                    <td><h6><small class="text-muted">USER</small></h6></td>
                    <td><h6><small class="text-muted"> : {{ruang.user_updated}}</small></h6></td>
                </tr>
                <tr>
                    <td><h6><small class="text-muted">UPDATED</small></h6></td>
                    <td><h6><small class="text-muted"> : {{ruang.updated}}</small></h6></td>
                </tr>
            </table>
                <a class="btn btn-sm btn-rounded btn-secondary" href="{% url 'satker:ruang_list' %}" role="button"><i class="fa fa-angle-left"></i> Kembali</a>
            </div>
        </div>
    </div>
</div>


{% endblock contents1 %}