{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Tambah Satker
{% endblock page_title %}


{% block contents1 %}
<div class="col-lg-9 centered mb-4 col-centered">
  <div class="bg-white p-5 rounded shadow h-100">
    <h4 class="jd1 d-inline">TAMBAH SATKER</h4>
    <a href="#" data-activates="slide-out" id="toggler-btn" class="navbar-toggler button-collapse d-inline" type="button">
    <span id="clpse-icon" class="fas fa-chevron-right "></span>
    </a>
    <hr align="left" width="auto" />
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    <form method='POST' novalidate>
      {% csrf_token %}

      <div class="pb-1">
        <div class="md-form">
          {% if form.is_bound %}
            {% if form.nama.errors %}
              {% render_field form.nama class="form-control is-invalid"%}
              {% for error in form.nama.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            {% else %}
              {% render_field form.nama class="form-control is-valid" %}
              <div class="valid-feedback">Ok</div>
            {% endif %}
          {% else %}
            {% render_field form.nama class+="form-control"%}
          {% endif %}
          <label  for="{{form.nama.id_for_label}}">{{form.nama.label}} :</label>
        </div>
      </div>
    
      <hr align="left" width="auto" />
      <button type="submit" class="btn btn-mdb-color btn-rounded">Tambah</button>
      <a class="btn btn-elegant btn-rounded" href="{% url 'satker:list' %}">Batalkan</a>
      </form>
  </div>
</div>

{% endblock contents1 %}