{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	{% include "snippets/styles.html" %}
</head>
<body>
  <div class="loader-wrapper fixed">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <div class="preloader">
  <div class="col-lg-8 p-5 centered mb-4 col-centered">
    <div class="bg-white p-4 shadow h-100">
      <h4 class="jd1">LOGIN</h4>
      <hr align="left" width="350" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        <form method='POST' novalidate>
        {% csrf_token %}
        
        <div class="col-8 col-centered pb-1">
        <select class="mdb-select md-form">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
          <div class="md-form">
          <i class="fas fa-user fa-lg prefix"></i>
            {% if form.is_bound %}
              {% if form.username.errors %}
                {% render_field form.username class="form-control is-invalid"%}
                {% for error in form.username.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {% render_field form.username class="form-control is-valid" %}
                <div class="valid-feedback">Ok</div>
              {% endif %}
            {% else %}
              {% render_field form.username class+="form-control"%}
            {% endif %}
            <label  for="{{form.username.id_for_label}}">{{form.username.label}} :</label>
          </div>
        </div>
        
        <div class="col-8 col-centered">
          <div class="md-form">
          <i class="fas fa-unlock-alt prefix"></i>
            {% if form.is_bound %}
              {% if form.password.errors %}
                {% render_field form.password class="form-control is-invalid"%}
                {% for error in form.password.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
              {% else %}
                {% render_field form.password class="form-control is-valid" %}
                <div class="valid-feedback">Ok</div>
              {% endif %}
            {% else %}
              {% render_field form.password class+="form-control"%}
            {% endif %}
            <label  for="{{form.password.id_for_label}}">{{form.password.label}} :</label>
          </div>
        </div>
        <div class="col-8 col-centered">
        <button type="submit" class="btn btn-rounded btn-mdb-color">Login</button>
        </div>
        
        </form>
    </div>
  </div>
  </div>

<!-- JQuery -->
<script src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" >
  $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
      $(".preloader").fadeIn("slow");
  });
</script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
</body>
</html>
