{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
{% bootstrap_css %}
    <title>Login</title>

	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	{% include "snippets/styles.html" %}
</head>
<body>
<div class="main-screen">

  <div class="col-lg-8 centered mb-4 col-centered">
    <div class="bg-white p-4 rounded shadow h-100">
      <h4 class="jd1">Login</h4>
      <hr align="left" width="350" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        <form method='POST' action='{% url 'users:login' %}'>
        {% csrf_token %}
          <div class="form-group row ">
            <div class="col-md-8 offset-md-2" >
              <label for="username">Username</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  <input type="text" class="form-control" placeholder="Masukan Username Anda" name="username">
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row ">
            <div class="col-md-8 offset-md-2" >
              <label for="username">Password</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                  </div>
                  <input type="password" class="form-control" placeholder="Masukan Password Anda" name="password">
                </div>
              </div>
            </div>
          </div>


        <div class="col-md-8 offset-md-2">
              <button type="submit" class="btn btn-primary">
                  Login
              </button>
        </div>
        </form>
    </div>
  </div>

</div>

	{% include "snippets/scripts.html" %}
</body>
</html>
