{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}">
<link rel="stylesheet" href="{% static 'mdb/css/bootstrap.min.css' %}">
  <!-- Material Design Bootstrap -->
<link rel="stylesheet" href="{% static 'mdb/css/mdb.min.css' %}">
</head>
<body>
  <div class="loader-wrapper fixed">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <div class="preloader">
  <div class="col-lg-8 p-5 centered mb-4 col-centered">
    <div class="bg-white p-4 shadow h-100">
      <h4 class="jd1">LOGIN</h4>
      <hr align="left" width="350" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        <form method='POST' novalidate>
        {% csrf_token %}
        <select class="mdb-select md-form">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
         
        </form>
    </div>
  </div>
  </div>

<!-- JQuery -->
<script src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" >
  $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
      $(".preloader").fadeIn("slow");
  });
</script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
  <script type="text/javascript" >
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
</body>
</html>
