{% load static %}
<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
        
      {% endblock page_title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
    {% include "snippets/styles.html" %}
  </head>
  <body class="body-overlow">
    <div class="loader-wrapper fixed">
      <span class="loader"><span class="loader-inner"></span></span>
      <div class="text-white text-loader">. . Tunggu Sebentar . .</div>
    </div>
    <div class="preloader position fixed-sn white-skin">
      {% include "snippets/sidebar.html" %}

      <div id="content" class="content pt-2">
      {% include "snippets/infobar.html" %}
      {% block contents1 %}{% endblock contents1 %}
      {% block contents2 %}{% endblock contents2 %}
      </div>
    </div>

<script src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
    {% include "snippets/scripts.html" %}
    <script type="text/javascript" >
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
        setTimeout(function(){ $("body").css("overflow", "auto"); },0);
        $(".preloader").removeClass('position');
        $("body").removeClass('body-overlow');
      });
    </script>
  </body>
</html>