{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %}
	Tambah Ruang
{% endblock page_title %}


{% block contents1 %}
<div class="main-screen">
  <div class="col-lg-8 centered mb-4 col-centered">
    <div class="bg-white p-5 rounded shadow h-100">
      <h4 class="jd1">TAMBAH RUANG</h4>
      <hr align="left" width="350" />
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <form method='POST'>
        {% csrf_token %}
        <label for="id_satker">{{form.id_satker.label}} :</label>
        <div class="form-group border rounded">
         {{ form.id_satker | add_class:'form-control selectpicker' | attr:'data-live-search:true' | attr:'id:id_satker'}}
        </div>
        <br>
        <div class="form-group">
          <label for="{{form.nama.id_for_label}}">{{form.nama.label}} :</label>
         {{ form.nama| add_class:'form-control'}}   
        </div>
        <br>

        {{ form.user_updated}}
        <button type="submit" class="btn btn-primary">Tambah</button>
        <a class="btn btn-secondary" href="{% url 'inventory:ruang_list' %}">Batalkan</a>
        </form>
    </div>
  </div>

</div>

{% endblock contents1 %}
