{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% block page_title %}
	Manage Tempat
{% endblock page_title %}


{% block contents1 %}

<div class="col-lg-8 mb-4 rounded col-centered">
    <div class="bg-white p-4 rounded shadow h-100">
    <h4 class="jd1">MANAGE TEMPAT</h4>
    <hr align="left" width="350" />
    <a class="btn btn-info" href="{% url 'inventory:tempat_add' %}" role="button"><i class="fa fa-plus-circle"></i> Tambah</a>
    <br><br>
 <table id="datatables2" class="table table-striped table-bordered" style="width:100%">
        <thead >
            <tr>
                <th>No</th>
                <th>ID Tempat</th>
                <th>Nama</th>
                <th>Ruang</th>
                <th>Satker</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tempat in tempat_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ tempat.id_tempat }}</td>
                <td>{{ tempat.nama }}</td>
                <td>{{ tempat.id_ruang.nama }}</td>
                <td>{{ tempat.id_ruang.id_satker.nama }}</td>
                <td align="center">
                     <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:tempat_detail' tempat.slug %}" title="[Detail] - {{tempat.nama}}"><i class="fa fa-info-circle"></i></a>
                    <a class="btn btn-sm ink-reaction btn-floating-action btn-secondary" href="{% url 'inventory:tempat_update' tempat.id_tempat %}" title="[Update] - {{tempat.nama}}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-sm ink-reaction btn-floating-action btn-danger" href="{% url 'inventory:tempat_del' tempat.id_tempat %}" title="[Delete] - {{tempat.nama}}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
        
    </table>
</div>
</div>
{% endblock contents1 %}